# Entorno y Secretos
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Dependencias
node_modules/
jspm_packages/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Datos y bases de datos locales (opcional)
# Descomenta la siguiente línea si quieres ignorar los datos locales de prueba
# src/data/*.json

# Sistema
.DS_Store
Thumbs.db
